{% if user.is_authenticated %}


    <li class="nav navbar-nav navbar-right">
        <form id="logoutForm" action="/logout" method="post" class="navbar-right">
            {% csrf_token %}
            <span class="navbar-brand"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
            </form>
        <form id="account" action="/account" method="post" class="navbar-right">
            {% csrf_token %}
            <span class="navbar-brand"><a href="javascript:document.getElementById('account').submit()">Account</a></span>
        </form>
    </li>


{% else %}

    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'register' %}">Register</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'login' %}">Log In</a></li>
    </ul>

{% endif %}