{% load cache %}
{% cache 3600 admin-sidebar %}
<div id="sidebar-wrapper">
    <ul class="nav nav-pills nav-stacked">
    	
    	<li>
        	<a href="{% url 'index' %}">{% if user.is_superuser %}Student View{% else %}Index{% endif %}</a>
    	</li>
        {% if apps_list %}
		    {% for app in apps_list %}
		        {% for model in app.models %}
		            {% if model.admin_url %}
		                <li>
		                	<a href="{{ model.admin_url }}">{{ model.name }}</a>
		                </li>
		            {% endif %}
		        {% endfor %}
		    {% endfor %}
    	{% endif %}
    </ul>
</div>
{% endcache %}
