{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

{% endblock %}

{% block sidebar %}
	{% include "app/sidebar.html" %}
{% endblock %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/sidebar.min.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/site.js' %}"></script>

    <!-- ensure refreshes only occur when logged in and not in admin view-->
        <script type="text/javascript">
            /* updates the confidence meter periodically */
            var ping_interval = 1000*5
            setInterval(function() {
                student_poll($("#current_quiz_list_inner li").length)
                }, ping_interval
            )
        </script>
{% endblock %}