{% extends "app/layout.html" %}



{% block content %}


<div class="container">
    <div class="jumbotron">
        <h2>You forgot your password?</h2>
        <p>
            If you are seeing this, it means I forgot to implement the password recovery feature.
        </p>
        <p>
            But don't worry!
        </p>
        <p>
            Account identity is not a priority, but don't forget your password too many times.
        </p>

        <a class="btn btn-primary btn-lg" href="{% url 'createuser' %}" role="button">Create Another</a>
    </div>
</div>


{% endblock %}