{% extends "app/layout.html" %}


{% block content %}

<div class="container">
		<h3>About</h3>
		<p>
			This web site is the creation of Jason Huang and Sheryl Shi.
		</p>
		<p>
			The purpose of this web site is to measure the effectiveness of software on lecture based learning through providing new methods of audience participation.
		</p>
		<p>
			All information inputted into the website may be collected for research purposes.
		</p>

		<h3>Help</h3>
		<p>
			This here is an explanation of how to use the site.
		</p>
		<p>
			The confidence meter is a real time gauge of the class' overall understanding of the lecture content.
			Vote accordingly based on the lecturer's explanation and your level of understanding. If performed properly, the lecturer will have a real-time measure of teaching effectiveness and can adjust the teaching pace accordingly.
		</p>
		<p>
			The Posts section is for students to posts questions about lecture material without explicitly disrupting the class. Every other student can see and reply to the posts if they know the answer.
		</p>
		<p>
			Quizzes are a tool to provide a chance for student to exercise their knowledge and to provide a more indepth measurement of class understanding.
		</p>
		<p>
			The Collaboration tool, which is a shared google document allows for cooperative note taking, NOT FOR SPAMMING. Students can collectively create a single set of notes which are simultaneously peer reviewed and peer written.
		</p>
		<p>
			Note: These are the intended goals for each feature. Please try to use them appropriately.
		</p>
		<p>
			For any additional help, Make a post in the Posts section, or speak to one of the site admins, Jason or Sheryl.
		</p>

</div>

{% endblock %}