{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}



<button id="understand" type="button">understand</button>
<button id="dontunderstand" type="button">don't understand</button>

{% endblock %}

{% block sidebar %}
    <ul class="sidebar-nav">
        <li>
            <a href="{% url 'index' %}"> Index </a>
        </li>
        {% for lecture in lecture_list %}
            <li>
                <a href="{% url 'lecture' lecture.id lecture.get_slug_field %}">{{ lecture.lecture_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block scripts %}


{% endblock %}