{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMSUNSW</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/animate.min.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    {% include "app/navbar.html" %}
        {% if user.is_authenticated %}
        <div id="wrapper"> 
                {% block sidebar %}{% endblock %}
                <div id="page-content-wrapper">
                    <div class="footer-push-wrapper">
                        {% endif %}
                        {% block content %}{% endblock %}
                        {% if user.is_authenticated %}
                        <div class="push"></div>
                    </div>
                    <div class="footer">
                        <hr>
                        <footer>
                            {% if num_sessions %}
                                Number of users online: {{ num_sessions }}
                            {% endif %}
                        </footer>
                    </div>
                </div>
        </div>
        {% endif %}
    <script src="{% static 'app/scripts/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/scripts/respond.min.js' %}"></script>
    <script src="{% static 'app/scripts/flot/jquery.flot.min.js' %}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script><![endif]-->   
    <script src="{% static 'app/scripts/flot/jquery.flot.pie.min.js' %}"></script>

    <script src="{% static 'app/scripts/site.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap-notify.min.js' %}"></script>
    {% include 'session_security/all.html' %}
    
    {% if user.is_authenticated and not "admin" in current_url %}
    
    <!-- ensure refreshes only occur when logged in and not in admin view-->
        <script>
            /* updates the confidence meter periodically */
            var ping_interval = 1000*5
            setInterval(function() {
                student_poll($("#current_quiz_list_inner li").length)
                }, ping_interval
            )
        </script>
    {% endif %}
{% block scripts %}{% endblock %}
</body>
</html>
