{% extends "app/layout.html" %}



{% block content %}
<!--<object data="https://docs.google.com/document/d/1yWFRMwszAXCBMiEwpv77h092J6Dr2NAs8wJvHsGVxaY/edit?usp=sharing" width="100%" height="100%"></object>-->


{% endblock %}

{% block sidebar %}

    <ul class="sidebar-nav">
        <li>
            <a href="{% url 'index' %}"> Index </a>
        </li>
        {% for lecture in lecture_list %}
            <li>
                <a href="{% url 'lecture' lecture.id lecture.get_slug_field %}">{{ lecture.lecture_name }}</a>
                <ul>
                    {% for quiz in quiz_list %}
                        {% if lecture.id == quiz.Lecture.id %}
                            <li>
                                <a href="{% url 'quiz' lecture.id lecture.get_slug_field quiz.id quiz.question %}"> {{ quiz.question }} </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                
            </li>
        {% endfor %}
    </ul>

{% endblock %}