{% extends "app/layout.html" %}
{% load crispy_forms_tags %}


{% block content %}



<div class="login-form">
    {% if created %}
    <h1></h1>
    <div class="alert alert-success alert-dismissable" role="alert">
        Account Created! Please log in
    </div>
    {% endif %}
    <h2>LMSUNSW</h2>

    <form  method="post">
        <!--need to place submit button out of standard order, must manually add in-->
        {% csrf_token %}

        {{form|crispy}}
        <div class="row">
            <div class="col-xs-4">
                <a href="{% url 'password_reset_recover' %}">Forgot Password</a>
                <a href="{% url 'createuser' %}">Register</a>
            </div>
            <div class="col-xs-4">
                <input class="btn btn-primary" style="" type="submit" value="Log In"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}