{% load current from templatetag %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        {% if user.is_authenticated %}
        <!-- mobile display navbar -->
            <button href="#menu-toggle" id="menu-toggle" class="navbar-toggle">
                    <span id="toggle-arrow" class="glyphicon glyphicon-chevron-right white"></span>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        {% endif %}
        
        	<a href="{% url 'root' %}" class="navbar-brand">LMSUNSW</a>
    	

    </div>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse">
    	<ul class="nav navbar-nav navbar-left" style="margin-left: 130px;">
    		{% if current_lecture.lecture_slide %}<!--if lecture slides are available-->
                <li class="{% current 'lecture_slide' %}">
                    <a href="{% url 'lecture_slide' current_lecture.id current_lecture.slug %}">Lecture Slides</a>
                </li>
            {% endif %}

            {% if quiz_list %}<!--Quiz sub-list-->
				<li class="dropdown {% current 'quiz' %}">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quiz History<span class="caret"></span></a>
		          	<ul class="dropdown-menu" role="menu">
		          		{% for quiz in quiz_list %}
		                    <li>
		                        <a href="{% url 'quiz' current_lecture.id current_lecture.slug quiz.id quiz.slug %}"> {{ quiz.question }} </a>
		                    </li>
		                {% endfor %}<!--end for quiz_list-->
		          	</ul>
		        </li>
            {% endif %}<!--end if quiz_list-->

            {% if codesnippet_list %}<!--codesnippet sub-list-->

		                    <li class="{% current 'codesnippet' %}">
		                        <a href="{% url 'codesnippet' current_lecture.id current_lecture.slug %}"> Code Snippets </a>
		                    </li>

            {% endif %}<!--end if codesnippet_list-->


    	</ul>
        <ul class="nav navbar-nav navbar-right">
            <!--buttons on the top right of the nav bar-->
            {% if user.is_superuser %}
            <!--Super User has link directly into admin pages-->
            <li>
                <a href="/admin">Administration</a>
            </li>
            {% else %}
            <!--Normal users have link to their account pages-->
            <li>
                <a href="/settings/auth/user/{{ user.id }}">Settings</a>
            </li>
            <li>
                <a href="/settings/app/userprofile/{{ user.UserProfile.id }}/">Profile</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
            {% endif %}
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>