{% extends "app/layout.html" %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		{{ thread.title }}
	</div>
	<div class="panel-body">
		{% if thread.content %}
			<div class="well">
				{{ thread.content }}
			</div>
		{% endif %}
	</div>

		{% for post in object_list %}
		<div class="panel {% cycle 'panel-info' 'panel-success' 'panel-warning' 'panel-danger'%}">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						{{ post.Creator }}
					</div>
					<div id="float-text-right" class="col-md-6">
						{{ post.last_touch }}
					</div>
				</div>
			</div>
		<div class="panel-body">			
			{{ post.content }}
		</div>
	</div>
		{% endfor %}
	<div class="panel-footer">
		FOOTER
	</div>
</div>

{% endblock %}

{% block sidebar %}
    {% include "app/sidebar.html" %}
{% endblock %}