{% load current from templatetag %}
<div id="sidebar-wrapper" role="navigation">


    {% include "app/confidence_meter.html" %}

    <ul class="nav nav-pills nav-stacked">
        
        {% if lecture_list %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    Lectures <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {% for lecture in lecture_list %}
                        <li>
                            <a href="{% url 'lecture' lecture.id lecture.slug %}">{{ lecture.title }}</a>

                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}<!--end if lecture_list-->
        <li class="{% current 'thread' %}">
            <a href="{% url 'thread' %}">Posts</a>
        </li>
    
        
        <!--current quiz list-->
            <li id="current_quiz_list" role="presentation" class="dropdown">
                {% if current_quiz_list %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    Available Quizzes <span class="badge">{{current_quiz_list|length}}</span>
                </a>
                <ul id="current_quiz_list_inner" class="dropdown-menu" role="menu">
                    {% for quiz in current_quiz_list %}
                        <li>
                            <a href="{% url 'quiz' quiz.Lecture.id quiz.Lecture.slug quiz.id quiz.slug %}"> {{ quiz.question }} </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %} <!-- endif current quiz list-->
            </li>
        

    </ul>
</div>